// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type=text] {
    background-color: yellow;
    background-position: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 40px;
}
